*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body{
    background-color: white;
}
.section1{
    background-color: #F6B116;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 550;
    box-sizing: border-box;
}
.section2{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    box-sizing: border-box;
}
.search{
    border-radius: 23px;
    padding: 13px;
    font-size: 15px;
    border: none;
    /* outline: none; */
    width: 280px;
}
.search::placeholder{
    opacity: 0.5;
}
.logo{
    height: 118px;
    width: auto;
}
.accountandcartdiv{
    display: flex;
    gap: 7px;
    color: white;
}
.accountandcartdiv a{
    text-decoration: none;
    color: white;
    display: flex;
}
.accountandcartdiv a p.accountpara{
    padding-top: 8px;
}
.accounticon{
    height: 40px;
    width: auto;
    /* padding-top: 10px; */
}
.carticon{
    height: 42px;
    width: auto;
    /* padding-top: 10px; */
}
.accounticon:hover, .carticon:hover{
    cursor: pointer;
}
.accountandcartdiv p{
    padding-top: 8px;
    letter-spacing: 2px;
}
.accountandcartdiv p:hover{
    cursor: pointer;
}
.hr1{
    background-color: #444;
    height: 0.4px;
    border: none;
    margin: 0;
}
.section3{
    display: flex;
    color: white;
    background-color: black; 
    padding-top: 15px;
    padding-bottom: 20px;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
    font-size: 17px;
    align-items: center;
}
.section3 a{
    text-decoration: none;
    color: white;
}
.section3 a:hover{
    text-decoration: underline;
    text-underline-offset: 23px;
    cursor: pointer;
}
.hr2{
    background-color: white;
    height: 0.4px;
    border: none;
    margin: 0;
}
.section4{
    display: flex;
    gap: 50px;
    padding: 25px 40px;
}
.section4part1{
    flex-grow: 1;
    padding-right: 30px;
}
.section4part2{
    width: 1200px;
    padding-left: 20px;
}
.mainheading{
    font-weight: bold;
}
.section4part2 p{
    margin-top: 20px;
}
.arabicattars{
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    padding: 9px 12px;
    font-size: 13px;
    margin-right: 10px;
}
.attarsinpaistan{
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    padding: 9px 12px;
    font-size: 13px;
}
.bestattars{
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    padding: 9px 12px;
    font-size: 13px;
    margin-right: 10px;
}
.longastingattar{
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    padding: 9px 12px;
    font-size: 13px;
}
.section4part2 div p a{
    text-decoration: none;
}
.shareheading{
    padding-top: 50px;
}
.icondiv{
    display: flex;
}
.facebookicondiv{
    display: flex;
    gap: 5px;
}
.shareicondiv{
    display: flex;
    gap: 5px;
    padding-left: 9px;
}
.pinicondiv{
    display: flex;
    gap: 5px;
    padding-left: 9px;
}
.icondiv img{
    width: auto;
    height: 20px;
    padding-top: 18px;
}
.icondiv p{
    font-size: 14px;
}
.featureheading{
    padding-top: 60px;
    font-size: 19px;
    font-weight: bold;
}
.featureimage{
    background-color: #F9F9F9;
    border-radius: 10px;
    /* padding-bottom: 40px; */
    position: relative;
}
p.featureimagecaption{
    font-size: 16px;
    line-height: 25px;
    /* padding: 17px; */
}
.featureimage p span.captionspan{
    display: block;
}
.featureimage p{
    padding-left: 15px;
}
.featureimage img{
    border-radius: 10px 10px 0px 0px;
}
.hoverimage{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}
.featureimage:hover .hoverimage{
    display: block;
}
.featureimage:hover{
    cursor: pointer;
}
.emojiline{
    color: #868686;
    font-size: 17px;
}
.price{
    color: #EFAC15;
    font-weight: bold;
    font-size: 20px;
}
.section4part1 h1{
    font-size: 33px;
    font-weight: bold;
}
.date{
    color: #868686;
    padding-top: 10px;
}
.para1{
    display: flex;
}
.firstletter{
    font-size: 50px;
    font-weight: bold;
}
.para1remaining{
    padding-top: 10px;
}
.para1remaining a{
    color: blue;
    font-weight: bold;
    text-decoration-color: black;
}
.div2{
    background-color: #F7F9F9;
    border: 1px solid #dad9d9;
    margin-top: 30px;
    padding: 0px 20px;
}
.div2 a{
    text-decoration: none;
}
.div2 p{
    color: #868686;
    padding: 10px 0px;
    font-size: 14px;
}
.orderedlist, .methoddiv{
    padding-left: 15px;
}
.div3{
    padding-top: 40px;
}
.div3 h1{
    font-size: 25px;
}
.div3 p{
    padding-top: 10px;
}
.div3 p a{
    color: blue;
    text-decoration-color: black;
    font-weight: bold;
}
.div3 p span{
    font-weight: bold;
}
.div4{
    padding-top: 20px;
}
.div4 h1{
    font-size: 25px;
}
.div4 p{
    padding-top: 10px;
}
.div4 p span{
    font-weight: bold;
}
.div4 p a{
    color: blue;
    font-weight: bold;
    text-decoration-color: black;
}
.div4 h3{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.div5{
    padding-top: 20px;
}
.div5 h1{
    font-size: 25px;
}
.div5 p{
    padding-top: 10px;
}
.div5 p span{
    font-weight: bold;
}
.div5 div{
    padding-left: 20px;
}
.div5 div li span{
    font-weight: bold;
}
.div6{
    padding-top: 20px;
}
.div6 h1{
    font-size: 25px;
}
.div6 p{
    padding-top: 15px;
}
.div6 p span{
    font-weight: bold;
}
.charcoalmethod{
    padding-top: 10px;
    font-size: 23px;
}
.div6 h6{
    padding-top: 10px;
    font-size: 17px;
    font-weight: bold;
}
.div6 div{
    padding-left: 20px;
}
.div6 div li{
    padding-top: 20px;
}
.orderedlist{
    list-style-type: decimal;
}
.safetytips{
    font-size: 17px;
}
.div7{
    padding-top: 20px;
}
.div7 h1{
    font-size: 25px;
}
.div7 div{
    padding-top: 10px;
    padding-left: 20px;
}
.div7 div li span{
    font-weight: bold;
}
.div8{
    padding-top: 20px;
}
.div8 h1{
    font-size: 25px;
}
.div8 p{
    padding-top: 15px;
}
.div8 p span{
    font-weight: bold;
}
.div9{
    padding-top: 20px;
}
.div9 h1{
    font-size: 25px;
}
.div9 p{
    padding-top: 15px;
}
.div9 p span{
    font-weight: bold;
}
.div9 p a{
    color: blue;
    font-weight: bold;
    text-decoration-color: black;
}
.hr{
    background-color: grey;
    height: 0.4px;
    border: none;
    margin-top: 40px;
}
.backtonews{
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    margin-left: 40%;
    margin-bottom: 40px;
}
.backtonews:hover{
    cursor: pointer;
}








.section19{
    /* background-color: black;
    color: white; */
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    /* position: relative; */
    /* justify-content: center; */
}
.section19div1{
    display: flex;
    gap: 40px;
}
.footerlogo{
    width: auto;
    height: 115px;
}
.footernav{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}
.section19div2{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.section19div2div1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}
.section19div2div2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}
.heading{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}
.callicon{
    height: 22px;
    width: auto;
    /* padding-top: ; */
}
.emailicon{
    height: 22px;
    width: auto;
    /* padding-top: ; */
}
.icondiv{
    display: flex;
    gap: 8px;
}
.icondiv a{
    color: white;
}
.icon{
    width: 28px;
    height: auto;
}
.followusicon{
    display: flex;
    gap: 15px;
}
/* .addressdiv{
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
} */
.address{
    font-size: 20px;
}
.address span{
    display: block;
}
.section19main{
    background-color: black;
    color: white;
    padding-bottom: 35px;
}
.addressdiv{
    padding-left: 40%;
}
.addressdiv p{
    line-height: 25px;
}
.hr4{
    background-color: #444;
    height: 0.5px;
    border: none;
    margin: 0;
}
.section20{
    background-color: black;
    padding: 30px 0px;
    color: white;
    text-align: center;
    font-size: 17px;
}