*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body{
    background-color: white;
}
.section1{
    background-color: #F6B116;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 550;
    box-sizing: border-box;
}
.section2{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    box-sizing: border-box;
}
.search{
    border-radius: 23px;
    padding: 13px;
    font-size: 15px;
    border: none;
    /* outline: none; */
    width: 280px;
}
.search::placeholder{
    opacity: 0.5;
}
.logo{
    height: 118px;
    width: auto;
}
.accountandcartdiv{
    display: flex;
    gap: 7px;
    color: white;
}
.accounticon{
    height: 40px;
    width: auto;
    padding-top: 10px;
}
.carticon{
    height: 42px;
    width: auto;
    padding-top: 10px;
}
.accounticon:hover, .carticon:hover{
    cursor: pointer;
}
.accountandcartdiv p{
    padding-top: 20px;
    letter-spacing: 2px;
}
.accountandcartdiv p:hover{
    cursor: pointer;
}
.hr1{
    background-color: #444;
    height: 0.4px;
    border: none;
    margin: 0;
}
.section3{
    display: flex;
    color: white;
    background-color: black; 
    padding-top: 15px;
    padding-bottom: 20px;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
    font-size: 17px;
    align-items: center;
}
.section3 a{
    text-decoration: none;
    color: white;
}
.section3 a:hover{
    text-decoration: underline;
    text-underline-offset: 23px;
    cursor: pointer;
}
.hr2{
    background-color: white;
    height: 0.4px;
    border: none;
    margin: 0;
}
.mainsection{
    margin-top:60px;
    display: flex;
    /* height: 11000px; */
}
.sidebar{
    position: sticky;
    top: 27%;
    /* bottom: 10px; */
    list-style-type: none;
    padding-left: 35px;
    font-size: 21px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    height: 0%;
}
.section5{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section5div1{
    display: flex;
    /* gap:10px; */
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 150px;
    font-size: 19px;
}
.categorydropdown{
    font-size: 15px;
    border: none;
    padding: 5px;
}
.section5div2{
    display: flex;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 7px;
}
.section5divpicture{
    background-color: #F9F9F9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 40px;
    position: relative;
}
p.section5divpicturecaption{
    font-size: 16px;
    line-height: 25px;
    /* padding: 17px; */
}
.section5divpicture p span.captionspan{
    display: block;
}
.section5divpicture p{
    padding-left: 15px;
}
.section5divpicture img{
    border-radius: 10px 10px 0px 0px;
}
.checked{
    color: #F8A300;
}
.hoverimage{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}
.section5divpicture:hover .hoverimage{
    display: block;
}
.section5divpicture:hover{
    cursor: pointer;
}
span.reviewnumber{
    font-size: 18px;
}
.emojiline{
    color: #868686;
    font-size: 17px;
}
.price{
    color: #EFAC15;
    font-weight: bold;
    font-size: 20px;
}
span.discountedprice{
    font-size: 16px;
    text-decoration: line-through; 
    padding-left: 5px;
}
.saletag{
    background-color: #F6B116;
    position: absolute;
    color: white;
    font-weight: 550;
    margin-top: 268px;
    border-radius: 2px;
    font-size: 13px;
    padding: 3px 3px 3px 0px;
}
.from{
    font-size: 16px;
}
.section5div3{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 283px;
}
.section6{
    margin-top: 50px;
    padding: 35px;
}
.section6div1 h3{
    font-size: 25px;
    font-weight: 1000;
    color: black;
    text-align: left;
}
.section6div2{
    display: flex;
    padding-top: 30px;
    /* padding-left: 20px;
    padding-right: 20px; */
    gap: 7px;
}
.section6div2picture{
    background-color: #F9F9F9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 40px;
    position: relative;
}
p.section6div2picturecaption{
    font-size: 18px;
    line-height: 25px;
    /* padding: 17px; */
}
.section6div2picture p span.captionspan{
    display: block;
}
.section6div2picture p{
    padding-left: 15px;
}
.section6div2picture img{
    border-radius: 10px 10px 0px 0px;
}
.section6div2picture:hover .hoverimage{
    display: block;
}
.section6div2picture:hover{
    cursor: pointer;
}
.section19{
    /* background-color: black;
    color: white; */
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    /* position: relative; */
    /* justify-content: center; */
}
.section19div1{
    display: flex;
    gap: 40px;
}
.footerlogo{
    width: auto;
    height: 115px;
}
.footernav{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}
.section19div2{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.section19div2div1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}
.section19div2div2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}
.heading{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}
.callicon{
    height: 22px;
    width: auto;
    /* padding-top: ; */
}
.emailicon{
    height: 22px;
    width: auto;
    /* padding-top: ; */
}
.icondiv{
    display: flex;
    gap: 8px;
}
.icondiv a{
    color: white;
}
.icon{
    width: 28px;
    height: auto;
}
.followusicon{
    display: flex;
    gap: 15px;
}
/* .addressdiv{
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
} */
.address{
    font-size: 20px;
}
.address span{
    display: block;
}
.section19main{
    background-color: black;
    color: white;
    padding-bottom: 35px;
}
.addressdiv{
    padding-left: 40%;
}
.addressdiv p{
    line-height: 25px;
}
.hr4{
    background-color: #444;
    height: 0.5px;
    border: none;
    margin: 0;
}
.section20{
    background-color: black;
    padding: 30px 0px;
    color: white;
    text-align: center;
    font-size: 17px;
}